<nav class="navbar">
  <ul>
    <li><a routerLink="/">
      <mat-icon>home</mat-icon>
      {{title}}
    </a></li>
    <li><a routerLink="/administration">Administration</a></li>
    <li><a routerLink="/villes">Villes</a></li>
    <li><a routerLink="/reunions">Réunions</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    
    <ng-container *ngIf="(authService.isAuthenticated$ | async); else loginButton">
      <li class="user-info">
        <span class="username">{{ authService.currentUser$ | async }}</span>
        <button mat-button (click)="logout()" class="logout-btn">
          <mat-icon>logout</mat-icon>
          Déconnexion
        </button>
      </li>
    </ng-container>
    
    <ng-template #loginButton>
      <li>
        <a routerLink="/login" class="login-btn">
          <mat-icon>login</mat-icon>
          Connexion
        </a>
      </li>
    </ng-template>
  </ul>
</nav>

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
