<div class="administration-container">
    <h1 class="administration-title">Administration des salles</h1>
    <div class="administration-content">
        <!--Tableau V1 sans Mat table car je suis un flemmard !-->
      <table class="administration-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Capacité</th>
            <th>Accessibilité</th>
            <th>Équipements</th>
            <th>Actions</th>
          </tr>
        </thead>
        <!-- données brut test !-->
        <tbody>
          <tr>
            <td>1</td>
            <td>12 rue fabienne Landy 37700 SPDC</td>
            <td>0249345965</td>
            <td>150</td>
            <td><i class="fa fa-wheelchair" aria-hidden="true"></i></td>
            <td>
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <i class="fa fa-projector" aria-hidden="true"></i>
            </td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <!-- Ajoutez d'autres lignes de données ici -->
        </tbody>
      </table>
    </div>
  </div>